:root {
  --color-blue: #6091ff;
  --color-green: #8ee2c6;
  --color-coral: #f1a090;
  --color-yellow: #fbd874;
  --color-black: #1b2646;
  --color-grey: #bebebe;
  --color-ivory: #f0f3f9;
  --color-white: #ffffff;
  --color-darkblue: #3e66bf;
  --color-darkgreen: #23907d;
  --color-darkcoral: #cb5d4e;
  --color-brown: #9d785e;
  --color-lightblue: #c9daff;
  --color-lightgreen: #cff6e9;
  --color-lightcoral: #fcdec5;
  --color-lightyellow: #fcf4ae;
}