@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;800&display=swap');
@font-face {
  font-family: 'Pangram';
  src: url('pangram-regular-webfont.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Pangram';
  src: url('pangram-bold-webfont.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Pangram';
  src: url('pangram-extrabold-webfont.woff2') format('woff2');
  font-weight: 800;
}